/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background: url(../img/pc1.jpg);
	background-size: cover;
	background-position: center;
	color: #ffff; 
}

.logo{
	height: 250px;
	margin-top: 20px;
}